{
    "trailingComma": "es5",
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 100,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "singleAttributePerLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf"
}
